.message-container{
    display: flex;
    padding: 15px;
}

.emphasized{
    font-weight: bold;
}

@keyframes bottom-top {
    from{
        opacity: 0;
        transform: translateY(25px);
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;

    }
    100%{
        opacity: 0;
        transform: translateY(25px);
    }
}