#moon{
    fill: none;
    transform: rotateZ(24deg);
    position: relative;
    animation: "slideMoon" 10s;
}

@keyframes slideMoon {
    from{
        opacity: 0;
        left: -300px;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@font-face  {
    font-family: "Poppins";
    src: url("../misc/Poppins-Regular.ttf");
}

.container{
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(50% + 10vw);
    height: calc(50% + 10vh);
    grid-column: 2 / 4;
    grid-row: 2 / 2;
    padding: 15px;
    border-radius: 25px;
    box-shadow: -1px 3px 3px 2px rgba(0,0,0,25%);
    background-color: color-mix(in srgb, #FAF3F0, white 25%);
    font-family: "Poppins", sans-serif;
}

.title-container{
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
}

#title{
    font-size: 26px;
}

.left-container{
    flex: 1 0 25%;
}

#array-form{
    display: grid;
}

#array-form input{
    align-self: center;
    margin: 5px 25px 5px 25px;
    padding: 5px;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    font-family: "Poppins", sans-serif;
}

.form-control{
    display: flex;
    margin-left: 30px;
}

.btn{
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
}

#btn-add{
    background-color: #ADC4CE;
}

#btn-display{
    background-color: #ADC4CE;
}

#btn-delete{
    background-color: #ADC4CE;
}

.in-the-middle{
    flex: 1 0 50%;
    max-width: 0;
    margin: 15px 25px 15px 25px;
    min-height: 10vh;
    max-height: 10vh;
}

.right-container{
    display: grid;
    flex-wrap: wrap;
    flex: 1 0 25%;
    grid-template: 45% 55% / none;
    min-height: 98px;
}

.selection-container{
    display: flex;
    flex: 1 0 100%;
}

#array-selector{
    appearance: none;
    margin: 5px 25px 5px 25px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,25%);
    font-family: "Poppins", sans-serif;
}

#array-deletion-form{
    display: flex;
    width: 100%;
    min-height: 43px;
    max-height: 43px;
}

